.navbar{
    font-family: 'Sarabun', sans-serif;
}
.section{
    padding-top: 40px;
    padding-bottom: 50px;
    font-family: 'Sarabun', sans-serif;
}
.main-hading{
    color: blueviolet;
    font-size: 25px;
    text-align: center;
}
.underline{
    height: 4px;
    width: 10rem;
    background-color: blueviolet;
    margin-top: 10px;
    margin-bottom: 10px;
}
h2{
    text-align: center;
    font-family: 'Sarabun', sans-serif;
}
.bg-c-light{
    background-color: white;
}